__pycache__/
.venv/
docs/
powdr-dumps/
data/
reports/
reports-cmp-old/
report-*.html
report-*.db
benchmark-results.json
cprofile.prof
rust-cprofile-*.data
rust-cprofile-*.svg

# z3 writes this when a trace is enabled
.z3-trace
runs/*
